<div>
    <img src="img/SPRINT Gold.png">
    <p>Username</p>
    <p>user@dlsu.edu.ph</p>

    <div>
        <ul>
            <li><button>Add Request</button></li>
        </ul>
    </div>
    <form method = "post" action = "/logout">
        <button type = "submit">Log out</button>
    </form>
</div>