@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: NexaBold;
    src: url(/fonts/NexaBold.otf);
}

@font-face{
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face{
    font-family: OpenSans-SemiBold;
    src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}

$light: #fffcf5;
$dark: #1D1A1A;


@include media-breakpoint-down(xxl) {
    .container-form{
        min-width: 60%;
    }

    ul > li > .dtr-title > .thead_label{
        width: 200px !important;
    }
}

@include media-breakpoint-down(xl) {
    
    .container-form{
        min-width: 80%;
    }

    .userheader{
        display: none;
    }

    .container-start{
        padding: 0px 5px 0px 5px !important;
    }
}

@include media-breakpoint-down(lg) {
    .container-table.container-requests{
        padding-left: 4px !important; 
        padding-right:4px !important; 
    }

    .request-header{
        justify-content: space-between;
    }

    .activity-header {
        order: 3 !important;
        min-width: 100%;
    }
    .request.btn-expand-info {
        order: 2 !important;
    }

    .container-content{
        width: 70% !important;
    }
}

@include media-breakpoint-down(md) {
    .h2,h3,h4,.btn, .form-select,
    .inline-warning,table,.form,
    ::-webkit-input-placeholder,
    ::-moz-placeholder {
        font-size: small;
    }

    ul > li > .dtr-title > .thead_label{
        width: 170px !important;
    }

    .inline-warning > div{
        margin-left: 0px !important;
        padding-left: 0px !important;
        border-left: none !important;
    }

    .request-field-content{
        flex: revert !important;
    }

    .caption-cut{
        max-width: 40ch !important;
    }

    .sidebar-logo,.btn-icon-text{
        display: none;
    }

    .container-content{
        width: 90% !important;
    }

    .container-form{
        min-width: 90% !important;
    }
}

@include media-breakpoint-down(sm){
    .request-item, .request.status-select, .request.btn-expand-info, 
    .pagination, .dataTables_length > label, .dataTables_filter > label,
    label.btn{
        font-size: smaller !important;
    }
    
    .request-row, .notif{
        font-size: 12px !important;
    }

    .activity-name{
        font-size: 14px !important;
    }

    .request-field-label{
        max-width: 90px !important;
        min-width: 60px !important;
    }

    .caption-cut{
        max-width: 25ch !important;
    }

    .container-sidebar{
        max-width: 8%;
    }

    .container-form{
        padding: 2px !important;
        min-width: 80%;
        border: none !important;
        background: none !important;
    }

    .sidebar-content{
        padding: 3px !important;
    }

    .container-content{
        width: 97% !important;
        padding: 0% !important;
    }

    .with-sidebar{
        margin-left: 8% !important;
    }

    .btn-group > label{
        font-size: 14px;
    }
}

html, body{
    font-family: OpenSans;
    height: 100%;
}

h1,h2,h5{
    font-family: NexaBold;
}

h3,h4, .notif, .status-col,
.btn.btn-dark, .btn-delete{
    font-family: OpenSans-Bold;
}

label{
    color: #995d65;
    font-family: OpenSans-SemiBold;
}

.container-sidebar, .btn-sidebar, .btn-logout{
    color: #fffcf5;
}

.btn-group .btn, .form-row .btn :not(.btn.btn-dark){
    background: #d2cbe1;
    overflow: auto;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #ebdbc6;
}

.asterisk, .error-message{
    font-family: OpenSans-Light;
    color: #ca3333;
}

.error{
    background-color: #ffc7c7 !important;
}

select.error > option{
    background-color: #f3f3f3;
}

.container-primary{
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-center{
    min-height: 50%;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
}

.container-start{
    display: flex;
    padding: 30px;
    padding-top: 5%;
    flex-direction: column;
    align-items: start;
}

//use on containers for pages with a sidebar
.with-sidebar{
    margin-left: 10%;
}

.container-content{
    padding: 2%;
}

// ------- Sidebar
.container-sidebar{
    overflow:hidden;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: #1D1A1A;
}

.sidebar-content{
    height: 100%;
    position: relative;
    padding: 10px;
}

.nav-sidebar{
    padding: 0;
    list-style-type:none;
}

.btn-sidebar{
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px 8px 8px 8px;
    width: auto;
    background-color: #1D1A1A;
}

.btn-sidebar:hover:not(.nav-active, .btn-logout){
    background-color: #312727;
}

.nav-sidebar, .nav-active{
    font-size: 14px;
}

.nav-active{
    color: #1D1A1A;
    background-color: #ffc934;
}

.logout{
    position: absolute;

    bottom : 15px;
    width: 100%;
}

.btn-logout{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}

//-------BUTTONS
.btn-withicon > .btn-icon{
    font-size: 1.5rem !important; 
    color: #ffc934;
    padding-right: 5px;
}

.nav-active.btn-withicon > .btn-icon,
td > .btn-icon{
    color: #1D1A1A;
}

.logo{
    max-width: 350px;
}

//-------FORMS
.container-form{
    position: relative;
    border-radius: 10px;
    border: 2px solid #5a3535;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #fde5c1;
    background: linear-gradient(180deg, #fde5c1 85%, #fbd681 97%, #f9bc7b 100%);

    padding: 10px;
    padding-top: 10px;
}

.form-row{
    padding-bottom: 7px;
}

.form-control, .form-select{
    background-color: #f3f3f3;
}

.form-control:not(textarea.form-control , input[type=date], input[type=time]){
    background: transparent;
    border-radius: 0px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #312727;
}

.form-select:disabled{
    opacity: 0.6;
}


.form-select#status option.not_started, .request.status option.not_started{
    background-color: #c94628;
}

.form-select#status option.in_progress, .request.status option.in_progress{
    background-color: #dd975e;
}

.form-select#status option.finished, .request.status option.finished{
    background-color: #509375;
}

//-------tables
.container-table{
    align-items: start; 
    width: 100%;    

    max-width: 100%;
}

thead, tbody, tfoot, tr, td, th {
    border-width: 0 0 2px;
    border-color: #d0686852;
    padding-right: 10px;
}

td, th{
    white-space: nowrap;
}

table{
    padding-top: 20px;
    padding-bottom: 10px;
}

thead{
    background-color: #1d1a1a;
    color: #ffd86b;
    padding-left: 10px;
}

.thead_label {
    padding-right: 25px;
}

ul > li > .dtr-title > .thead_label {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

th.sorting{
    padding-top: 5px;
    padding-bottom: 5px;
}

td > .btn-icon{
    font-size: 1.2rem;
}

table.dataTable > thead > tr > th:not(.sorting_disabled), 
table.dataTable > thead > tr > td:not(.sorting_disabled){
    padding-right: 5px;
    padding-left: 5px;
}   

td .btn-icon::before,
td .btn-icon::after{
    margin-bottom: 4px;
}

td.btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

td.btn-col, th.btn-col {
    padding-right: 0px !important;
}

.pagination .page-item.active .page-link,
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus,
.pagination .page-item.active .page-link:hover { 
    background-color: #ffc934; 
    color: #1D1A1A;
    border-color: #ffffff;
}

.pagination .page-item.active .page-link:hover {
    border-color: #1D1A1A;
}

//hidden details
table.dataTable > tbody > tr.child ul.dtr-details > li{
    border-bottom: 2px solid #d0686852;
}

.dtr-data{
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

table.dataTable > tbody > tr.child ul.dtr-details{
    width: 100%;
}

.modal-row{
    padding-top: 5px;
}

.modal-footer > .btn{
    background-color: #e3e3e3;
}

.modal-footer > .btn-edit{
    background-color: #d8d0ff;
}

.modal-footer > .btn-save{
    background-color: #ffc439;
}

.modal-footer > .btn-delete{
    background-color: #ad2a2a;
    color: white;
}

button.edit{
    font-family: NexaBold;
    color: white;
    background-color: black;
    border: transparent;
    border-radius: 5px;
}

//VIEW REQUESTS
.request-item{
    background-color: #fde5c1; 
    border: solid 2px #5a3535; 
    border-radius: 4px; 
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.request-header{
    align-items: flex-start; 
    display: flex;
    flex-wrap: wrap;
}

.request-row{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 5px;
}

.request-row.darkened{
    margin-left: -8px; 
    margin-right: -8px; 
    padding-left: 8px; 
    padding-right: 8px; 
    background-color: #f0d5ad;
}

.request-field-label{
    width: 120px;
    font-family: OpenSans-Bold;
    display: inline-block;
}

.request-field-content{
    flex: 1;
    display: inline-block;
}

.activity-name{
    font-family: OpenSans-Bold;
    font-size: 18px;
    margin-right: 8px;
}

.request.status{
    margin-right: 8px; 
    font-size: 14px; 
    order: 1;
}

.btn-edit, .btn-expand-info > button{
    background-color: transparent; 
    border: transparent;
}

.btn-expand-info{
    order: 3; 
    height: 25px;
    font-size: 14px;
}

.expand-icon::before{
    margin-bottom: 10px;
    font-size: 20px;
}

.caption-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85ch;
}

hr.request{
    margin-top: 5px;
    margin-bottom: 5px;
}

.img_btnicon{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.inline-warning{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 5px 15px 5px 15px;
    background-color: #c84e4e;
    border-radius: 5px;

    color: white;
    font-family: OpenSans-Bold;
}

.inline-warning > span, .inline-warning > div{
    display: inline-block;
}

.inline-warning > span{
    padding-right: 5px;
    font-size: 18px;
}

.inline-warning > div{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid white;
}

.notif{
    position:fixed; 
    background:#0000008f; 
    border-radius: 5px;
    right: 20px; 
    bottom: 20px; 
    padding:10px;
    color: white;
}

.hidden{
    display: none;
}

.h-spacer20{
    height: 20px;
}

.h-spacer50{
    height: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(44, 44, 44);
    margin: 1em 0;
    padding: 0;
}

.bordered{
    border: 2px solid #00ff6a;
}
