@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: NexaBold;
    src: url(/fonts/NexaBold.otf);
}

@font-face{
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face{
    font-family: OpenSans-SemiBold;
    src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}

$light: #fffcf5;
$dark: #1D1A1A;

@include media-breakpoint-down(xxl) {
    .container-form{
        min-width: 60%;
    }
}

@include media-breakpoint-down(xl) {
    .container-form{
        min-width: 80%;
    }

    .userheader{
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .h2,h3,h4 {
        font-size: small;
    }

    .sidebar-logo,.btn-icon-text{
        display: none;
    }

    .container-form{
        min-width: 90%;
    }
}

@include media-breakpoint-down(sm){
    .container-sidebar{
        max-width: 9.3%;
    }
}

html, body{
    font-family: OpenSans;
    height: 100%;
}

h1{
    font-family: NexaBold;
}

h2,h3,h4,
.btn.btn-dark{
    font-family: OpenSans-Bold;
}

label{
    color: #995d65;
    font-family: OpenSans-SemiBold;
}

.container-sidebar, .btn-sidebar, .btn-logout{
    color: #fffcf5;
}

.btn-group .btn, .form-row .btn :not(.btn.btn-dark){
    background: #d2cbe1;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #ebdbc6;
}

.asterisk, .error-message{
    font-family: OpenSans-Light;
    color: #ca3333;
}

.error{
    background-color: #ffc7c7 !important;
}

select.error > option{
    background-color: #f3f3f3;
}

.bordered{
    border: 2px solid #00ff6a;
}

.container-primary{
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-center{
    min-height: 50%;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
}

//use on containers for pages with a sidebar
.with-sidebar{
    margin-left: 10%;
}

.container-content{
    padding: 2%;
    min-width: 55%;
}

.container-sidebar{
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: #1D1A1A;
}

.sidebar-content{
    height: 100%;
    position: relative;
    padding: 10px;
}

.nav-sidebar{
    padding: 0;
    list-style-type:none;
}

.btn-sidebar{
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px 8px 8px 8px;
    width: auto;
    background-color: #1D1A1A;
}

.btn-sidebar:hover:not(.nav-active){
    background-color: #312727;
}

.nav-sidebar, .nav-active{
    font-size: 14px;
}

.nav-active{
    color: #1D1A1A;
    background-color: #ffc934;
}

//-------BUTTONS
.btn-withicon > .btn-icon{
    font-size: 1.5rem !important; 
    color: #ffc934;
    padding-right: 5px;
}

.nav-active.btn-withicon > .btn-icon{
    color: #1D1A1A;
}

.btn-logout{
    position: absolute;
    bottom : 20px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}



.logo{
    max-width: 350px;
}

//-------FORMS
.container-form{
    position: relative;
    border-radius: 10px;
    border: 2px solid #5a3535;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #fde5c1;
    background: linear-gradient(180deg, #fde5c1 80%, #ffc6af 97%, #ffa987 100%);

    padding-top: 10px;
}

.form-row{
    padding-bottom: 7px;
}

.form-control, .form-select{
    background-color: #f3f3f3;
}

.form-control:not(textarea.form-control , input[type=date], input[type=time]){
    background: transparent;
    border-radius: 0px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #312727;
}

.img_btnicon{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.h-spacer20{
    height: 20px;
}

.h-spacer50{
    height: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(44, 44, 44);
    margin: 1em 0;
    padding: 0;
}