<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/> 
    <title>Add Pub Request</title>
</head>
<body>
    <!--SIDEBAR start-->
    <div>
        <img src="img/SPRINT Gold.png">
        <p>Username</p>
        <p>user@dlsu.edu.ph</p>

        <div>
            <ul>
                <li><button>Add Request</button></li>
            </ul>
        </div>
        <form method = "post" action = "/logout">
            <button type = "submit">Log out</button>
        </form>
    </div>
    <!--SIDEBAR end-->

    <div>
        <h1>Add Request</h1>
        <div><form>
            <h3>Requester's Information</h3>
                <input type="text" placeholder="requester name">

                <select>
                  <option>Activities</option>
                  <option>Finance</option>
                  <option>HRD</option>
                  <option>TND</option>
                </select> 

            <h3>Activity Information</h3>
                <input type="text" placeholder="activity name">
                <input type="text" placeholder="description"> <br>
                
                <div>
                    Start/End Dates :
                    from <input type="date" placeholder="Start date"> <input type="time"> to
                    <input type="date" placeholder="End date"> <input type="time"> <br>

                    <input type="text" placeholder="Venue (if online, please put URL)"> <br>
                    <input type="text" placeholder="theme">
                </div>

            <h3>Publication Information</h3>
                <h4>Type of publications :</h4>
                    <input type="radio" value="poster"> Single Image/Poster <br>
                    <input type="radio" value="album"> Album <br>
                    <input type="radio" value="video"> Video (please specify length and upload the clips) <br>
                    <input type="radio" value="fb_cover"> FB Event Cover <br>
                    <input type="radio" value="other"> Other : <input type="text" placeholder="type" /><br>
                
                <br>

                Posting Date : <input type="date"> <input type="time"> <br>

                Will you be posting a post-event post (for post-event caption)
                    <input type="radio" value="yes"> Yes
                    <input type="radio" value="no"> No <br>
                
                <input type="url" placeholder="link to related files (if applicable)"> <br><br>

                <input type="text" placeholder="details"><br>
                <input type="text" placeholder="comments"><br>
                <input type="text" placeholder="special request"><br><br>

                <button>confirm</button>

        </form></div>
    </div>
    
</body>
</html>