<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="javascript\request_validation.js" type="text/javascript"></script>
    <script src="javascript/validator.min.js" type="text/javascript"></script>
    <title>Add Pub Request</title>
</head>
<body style="display: relative;">

    {{> sidebar viewFlag=viewFlag mReqFlag=mReqFlag mUserFlag=mUserFlag}}
    <div class="container-center with-sidebar">
        <h1 style="text-align: center;">SUBMIT REQUEST</h1>

    <div class="container-content">

        <div class="container-form form">
            
                
                <h3>Requester's Information</h3>
                <div class="row form-row">
                    <div class="col col-md-8">
                        <label for="reqname">Name <span class="asterisk">*</span> </label>
                        <input type="text" class="form-control" name = "reqname" id="reqname" placeholder="LAST NAME, First Name">
                    </div>
                    
                    <div class="col">
                        <label for="committee">
                            Committee <span class="asterisk">*</span>
                        </label>
                        <select style='font-family: "OpenSans", Sans-Serif;' class="form-select" id = "committee" name = "committee">
                            <option value = "" style="display: none;">Select Committee</option>
                            <option value = "Activities">Activities</option>
                            <option value = "Finance">Finance</option>
                            <option value = "HRD">HRD</option>
                            <option value = "TND">TND</option>
                            <option value = "P-EVP">P-EVP</option>
                            <option value = "Secretariat">Secretariat</option>
                            <option value = "Externals">Externals</option>
                            <option value = "SocioCivic">Socio Civic</option>
                        </select> 
                    </div>
                </div>

                <div class="h-spacer20"><hr></div>

                <h3>Activity Information</h3>
                <div class="form-row">
                    <label for="activity_name">Activity Name <span class="asterisk">*</span></label>
                    <input type="text" class="form-control" name = "activity_name" id="activity_name" placeholder="Enter name">
                </div>
                <div class="form-row">
                    <label for="activity_name">Description <span class="asterisk">*</span></label>
                    <textarea type="text" class="form-control" name = "description" id="description" placeholder="Enter activity description"></textarea>
                </div>

                <div class="row form-row">

                    <div class="col">
                        <label for="start_date_form">Start Date <span class="asterisk">*</span> 
                            <span class="error-message" id="date_error"></span>
                        </label>
                        <div class="input-group" id="start_date_form">
                            <input type="date" class="form-control" name = "start_date" id="start_date">
                            <input type="time" class="form-control" name = "start_time" id="start_time" value="11:00">
                        </div>
                    </div>

                    <div class="col"> 
                        <label for="end_date_form">End Date <span class="asterisk">*</span></label>
                        <div class="input-group" id="end_date_form">
                            <input type="date" class="form-control" name = "end_date" id="end_date">
                            <input type="time" class="form-control" name = "end_time" id="end_time" value="14:00">
                        </div>
                    </div>

                </div>

                <div class="row form-row">
                    <div class="col">
                        <label for="reqname">Venue <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" name = "venue" id="venue" placeholder="if online, please put URL">
                    </div>

                    <div class="col">
                        <label for="reqname">Theme</label>
                        <input type="text" class="form-control" name = "theme" id="theme" placeholder="Enter theme">
                    </div>
                </div>

                <div class="h-spacer20"><hr></div>

                <h3>Publication Information</h3>

                <label>Type of publication : <span class="asterisk">*</span></label>
                <div class="row form-row">
                    <div class="col btn-group" role="group" style="overflow: auto; margin-left: 10px; margin-right: 20px">

                        <input type="radio" class="btn-check pubType" name="pubType" value="poster" id="type_poster" autocomplete="off" checked>
                        <label class="btn btn-outline-dark" for="type_poster">Poster</label>

                        <input type="radio" class="btn-check pubType" name="pubType" value="album" id="type_album" autocomplete="off">
                        <label class="btn btn-outline-dark" for="type_album">Album</label>

                        <input type="radio" class="btn-check pubType" name="pubType" value="video" id="type_video" autocomplete="off">
                        <label class="btn btn-outline-dark" for="type_video">Video</label>

                        <input type="radio" class="btn-check pubType" name="pubType" value="fb_cover" id="type_fbcover" autocomplete="off">
                        <label class="btn btn-outline-dark" for="type_fbcover">FB Cover</label>

                        <input type="radio" class="btn-check pubType" name="pubType" value = "other" id="type_other"  autocomplete="off">
                        <label class="btn btn-outline-dark" for="type_other">Other</label>

                    </div>   
                </div>
                <div id="type-message" style="font-size: 12px; visibility: hidden">- please specify length of the video in 'details' and link to the clips</div>

                <div class="row form-row">
                    <div class="col">
                        <input type="text" class="form-control" name = "type_other_value" id="type_other_value" placeholder="Please specify other type*" style="visibility: hidden;" disabled>
                    </div>
                </div>

                <div class="row form-row">
                    <label for="posting_date_form">Posting Date <span class="asterisk">*</span></label>
                    <div class="col col-md-7" id="posting_date_form">
                        <div class="input-group">
                            <input type="date" class="form-control" name = "posting_date" id="posting_date">
                            <input type="time" class="form-control" name = "posting_time" id="posting_time" value="11:00">
                        </div>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col" id="postevent_form">
                        Will you be posting a post-event post (for post-event caption) <span class="asterisk">*</span>
                        <div class="btn-group" role="group" id = "posteventGroup">
                            <input type="radio" class="btn-check postevent" name="postevent" value="no" id="postevent_no" autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="postevent_no">No</label>

                            <input type="radio" class="btn-check postevent" name="postevent" value="yes" id="postevent_yes" autocomplete="off">
                            <label class="btn btn-outline-dark" for="postevent_yes">Yes</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <label for="files_url">Link to Related Files (if applicable)</label>
                    <input type="text" class="form-control" name = "files_url" id="files_url" placeholder="Enter valid URL (Format : https://www.google.com)">
                </div>

                <div class="form-row">
                    <label for="details">Details</label>
                    <textarea type="text" class="form-control" name = "details" id="details" placeholder="Enter additional activity details"></textarea>
                </div>

                <div class="form-row">
                    <label for="comments">Comments</label>
                    <textarea type="text" class="form-control" name = "comments" id="comments" placeholder="Enter comments"></textarea>
                </div>

                <div class="form-row">
                    <label for="specialRequest">Special Request</label>
                    <textarea type="text" class="form-control" name = "specialRequest" id="specialRequest" placeholder="Enter special request information"></textarea>
                </div>

                <div class="h-spacer20"></div>

                <div class="form-row" style="position: relative;">
                <div style="position: absolute; right : 0px;">
                    <input id = "submit" class="btn btn-dark btn-lg" name = "submit" type = "submit" value = "SUBMIT" style="box-shadow: 2px 4px #817777;"disabled>
                </div>
                </div>
                    
                <p id = "error"></p><br>
                <p id = "errorTime"></p>
                <p id = "radioerror"></p>


        </div>
        
    </div>
    </div>

    <!-- Request Submitted Notification -->
    <div class="notif hidden">
        Request submitted, committee has been notified.
    </div>

    <div class="h-spacer50"></div>
    
</body>
</html>