<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <title>Login</title>
</head>
<body>
<div class="container-primary">
    <div class="container-center">
        <img class="logo" src="img/SPRINT Metallic.png">
        <h1>Pub Tracker</h1>
        
        members access only
        <form method = "post" action = "/login">
            <button class="btn btn-dark" type = "submit"> <img class="img_btnicon" src="img/Google Logo.png"> Login with Google</button>
        </form>
    </div>
</div>
</body>
</html>