<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/> 
    <title>Access Denied</title>
</head>
<bod style="background-color: #fde5c1;">
<div class="container">
    <img src="img/SPRINT Metallic.png">
    <h2>Access Denied</h2>
    <p>If you are a member of SPRINT, please contact an Admin to register you as a member</p>
</div>
    
</body>
</html>